# WordPress API credentials
WP_BASE_URL=http://localhost:8000
WP_API_USER=firstname.lastname
WP_API_PASS=password

# Database credentials
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=wordpress
DB_PASS=wordpress
DB_NAME=wordpress